@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

body {
  margin: 0;
  background-color: #eee;

  font-family: 'Andika New Basic', sans-serif;
}

main {
  margin:10%;
  color: green;
}