@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

main {
  margin-top: 6rem;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 7rem;
}

@media (min-width: 950px) {
  main {
    margin-top: 12rem;
  }
}
