@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-image: url('./background-blurred.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 7rem;
}

.card {
  margin: 1.5rem;
}

.big-card {
  margin: 0;
}

.card__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.card__actions div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}