<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Backend</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Backend für finnupa.de</h1>
    <p>Wie auch immer du hierher gelangt bist...?</p>
</body>
</html>